/*--------------------------------------------------Global Styles-----------------------------------------------*/
*,*::before,*::after{
    margin: 0;
    box-sizing: border-box;
}
.wrapper{
    margin: 0;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
body{
    background: #f6f7f2;
}
body.preload *{
    animation-duration: 0s !important;
    -webkit-animation-duration: 0s !important;
    transition:background-color 0s, opacity 0s, color 0s, width 0s, height 0s, padding 0s, margin 0s !important;}
img{
    width: 100%;
    height: auto;
    max-height: 80vh;
    float: right;
    height: auto;
}
/*--------------------------------------------------------Animations---------------------------------------------*/
@keyframes drop-down{
    from {
        height: 0%;
      }
    
      to {
        height: 100%;
      }
}
@keyframes drop-down-ul{
    from {
        top: -10em;
        opacity: 0;
    }
    to {
        top: 0em;
        opacity: 1;
    }
}
@keyframes drop-down-main{
    from{
        height: 100%;
    }
    to{
        height: 0%;
    }
}
@keyframes pop-up{
    from {
        height: 100%;
      }
    
      to {
        height: 0%;
      }
}
@keyframes pop-up-ul{
    from {
        top: 0em;
        opacity: 1;
    }
    to {
        top: -10em;
        opacity: 0;
    }
}
@keyframes pop-up-main{
    from{
        display: none;
        height: 0%;
    }
    to{
        height: 100%;
        display: contents;
    }

}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/*--------------------------------------------------------Desktop Styles-----------------------------------------*/
@media screen and (min-width:1201px){
    /*----------------------------------------------------Header Styles------------------------------------------*/
    header{
        display: flex;
        width: 100%;
        background: black;
        justify-content: center;
    }
    header a{
        color: whitesmoke;
        font-family: 'Merriweather Sans', sans-serif;
        text-decoration: none;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    button{
        height: inherit;
        width: inherit;
        background: inherit;
        border: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        outline: none;
    }
    .site-banner-logo{
        width: 15%;
        text-align: center;
    }
    .site-banner{
        position: fixed;
        background-color: black;
        opacity: 0.915;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 4em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        
    }
    .burger-top{
        top: 17px;
    }
    .burger-mid{
        top: 30px;
    }
    .burger-bottom{
        top: 43px;
    }
    .cart{
        height: 100%;
        width: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-shopping-cart{
        color: whitesmoke;
        font-size: 3em;
        border-radius: 1.5px;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .burger-button{
        height: 100%;
        width: 5em;
        opacity: 1;
        transition: all 0.15s ease-out;
    }
    .burger-line{
        display: block;
        position: absolute;
        opacity: 1;
        height: 0.3em;
        width: 2.5em;
        background: whitesmoke;
        border-radius: 1.5px;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .burger-button.active .burger-top{
        transform: rotate(45deg) translate(9px, 10px);
    }
    .burger-button.active .burger-mid{
        opacity: 0;
    }
    .burger-button.active .burger-bottom{
        transform: rotate(-45deg) translate(9px, -10px);
    }
    .burger-button.active:hover .burger-top{
        transform: rotate(45deg) translate(9px, 10px) scale(1.25);
    }
    .burger-button.active:hover .burger-mid{
        opacity: 0;
    }
    .burger-button.active:hover .burger-bottom{
        transform: rotate(-45deg) translate(9px, -10px) scale(1.25);
    }
    .burger-button:hover .burger-line{
        transform: scale(1.2);
    } 
    .site-banner-logo:hover a{
        transform: scaleY(1.5);
        font-weight: bolder;
        font-size: 1.15em;
    }
    .cart-button{
        color: whitesmoke;
        font-size: 3.5em;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .cart-button:hover{
        transform: scale(1.1);
        font-weight: bolder;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .dropdown{
        display: block;
        background-color: darkslategray;
        width: 100%;
        animation-duration: 0.5s;
        animation-name: pop-up;
        height: 0%;
    }
    .dropdown.active {
        display: block;
        position: fixed;
        background-color: darkslategray;
        width: 100%;
        animation-duration: 0.5s;
        animation-name: drop-down;
        height: 100%;
        top: 0em;
        z-index: 1;
    }
    .site-banner.active{
        background-color: darkslategray;
        
    }
    .site-nav.active{
        background-color: darkslategray;
        z-index: 2;
        position: fixed;
    }
    /*------------------------------------------------------------------------------------Dropdown styles----------------------------------------------------------------------*/
    .dropdown-ul{
        list-style: none;
        margin: 0;
        padding: 4%;
        animation-duration: 0.5s;
        animation-name: pop-up-ul;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .dropdown-ul.active{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: 0.5s;
        animation-name: drop-down-ul;
        opacity: 1;
        top: 0em;
    }
    .dropdown-li{
        padding: 1%;
        margin-bottom: 1.25em;
    }
    .dropdown-li a{
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
    }
    /*------------------------------------------------------------------------------------Main Styles------------------------------------------------------------------------*/
    main{
    /*min-width: 90vh;*/
        animation-duration: 0.5s;
        animation-name: pop-up-main;
        height: auto;
    }
    main.active{
        animation-duration: 0.5s;
        animation-name: drop-down-main;
        height: 0px;
    }
    .Swipper-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        background-image: url(https://live.staticflickr.com/65535/52241875663_6757a3ff68_b.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .main-h3{
        color: #fff;
        text-shadow: 2px 2px #0000001a;
        margin-bottom: 1em;
        font-family: 'Merriweather Sans', sans-serif;
    }
    .order-button{
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 3em;
        background: white;
        width: 195px;
        height: 45px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }
    .order-button:hover{
        opacity: 0.8;
        box-shadow: 0px 15px 20px rgba(59, 56, 49, 0.4);
        transform: translateY(-7px);
    }
    .bag-info{
        margin-top: 6.5em;
        display: grid;
        grid-column: 2;
        grid-auto-flow: column;
        grid-column-gap: 2em;
        grid-row-gap: 3em;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        justify-items: end;
    }
    .about-text-box{
        font-family: 'Merriweather Sans', sans-serif;
        width: 30em;
        font-size: 20px;
        margin-top: 3.5em;
        margin-bottom: 3.5em;    
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.73, 0.85); 
    }
    .about-text-box h1{
        text-align: center;
    }
    .about-text-box p{
        text-align: left;
    }
    .scroll.show{
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.25));
        transform: translateX(-20%);
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.73, 0.85);       
    }
    .gallery-slider{
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 30vh;
        min-width: 90vh;
        margin-top: 2em;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        flex-wrap: nowrap;
    }
    
    .gallery-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 25vh;
        width: 85%;
    }
    .arrows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: background-color 0.6s ease;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .dot:hover{
        transform: scale(1.25);
    }
    .dot.active{
        transform: scale(1.25);
        background-color: #717171;
        transition: background-color 0.6s ease;
    }
    .number-display{
        position: relative;
        width: 50px;
        height: auto;
    }
    .numbertext {
        color: black;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev, .next {
        cursor: pointer;
        position: relative;
        width: auto;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 35px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .prev:hover, .next:hover{
        transform: scale(1.5);
        transition: 0.6s ease;
    }
    .mySlides {
        display: none;
        -webkit-box-shadow: 0px 2px 15px rgb(0 0 0 / 70%);
        box-shadow: 0px 2px 15px rgb(0 0 0 / 70%);
        background: rgba(0, 0, 0, .2);
    }
    /*------------------------------------------------------Footer Styles--------------------------------*/
    hr {
        height: 2px;
        border: none;
        color: #000;
        background-color: #ccc;
        margin: 0 auto;
        width: 90%;
        margin-top: 5em;
        margin-bottom: 5em;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
        align-items: flex-start;
        height: 10vh;
    }
    footer div{
        font-size: 30px;
        cursor: pointer;
        font-family: 'Merriweather Sans', sans-serif;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    footer div:hover{
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.25));
        transform: translateY(-7px);
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
}
/*--------------------------------------------------------Mobile Styles------------------------------------------*/
@media screen and (max-width: 1200px) {
    /*----------------------------------------------------Header Styles------------------------------------------*/
    header{
        display: flex;
        width: 100%;
        background: black;
        justify-content: center;
    }
    header a{
        color: whitesmoke;
        font-family: 'Merriweather Sans', sans-serif;
        text-decoration: none;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    button{
        height: inherit;
        width: inherit;
        background: inherit;
        border: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        outline: none;
    }
    .site-banner-logo{
        width: 30%;
        text-align: center;
    }
    .site-banner{
        position: fixed;
        background-color: black;
        opacity: 0.915;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 4em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        
    }
    .burger-top{
        top: 17px;
    }
    .burger-mid{
        top: 30px;
    }
    .burger-bottom{
        top: 43px;
    }
    .cart{
        height: 100%;
        width: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-shopping-cart{
        color: whitesmoke;
        font-size: 3em;
        border-radius: 1.5px;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .burger-button{
        height: 100%;
        width: 5em;
        opacity: 1;
        transition: all 0.15s ease-out;
    }
    .burger-line{
        display: block;
        position: absolute;
        opacity: 1;
        height: 0.3em;
        width: 2.5em;
        background: whitesmoke;
        border-radius: 1.5px;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .burger-button.active .burger-top{
        transform: rotate(45deg) translate(9px, 10px);
    }
    .burger-button.active .burger-mid{
        opacity: 0;
    }
    .burger-button.active .burger-bottom{
        transform: rotate(-45deg) translate(9px, -10px);
    }
    .burger-button.active:hover .burger-top{
        transform: rotate(45deg) translate(9px, 10px) scale(1.25);
    }
    .burger-button.active:hover .burger-mid{
        opacity: 0;
    }
    .burger-button.active:hover .burger-bottom{
        transform: rotate(-45deg) translate(9px, -10px) scale(1.25);
    }
    .burger-button:hover .burger-line{
        transform: scale(1.2);
    } 
    .site-banner-logo:hover a{
        transform: scaleY(1.5);
        font-weight: bolder;
        font-size: 1.15em;
    }
    .cart-button{
        color: whitesmoke;
        font-size: 3.5em;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .cart-button:hover{
        transform: scale(1.1);
        font-weight: bolder;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .dropdown{
        display: block;
        background-color: darkslategray;
        width: 100%;
        animation-duration: 0.5s;
        animation-name: pop-up;
        height: 0%;
    }
    .dropdown.active {
        display: block;
        position: fixed;
        background-color: darkslategray;
        width: 100%;
        animation-duration: 0.5s;
        animation-name: drop-down;
        height: 100%;
        top: 0em;
        z-index: 1;
    }
    .site-banner.active{
        background-color: darkslategray;
        
    }
    .site-nav.active{
        background-color: darkslategray;
        z-index: 2;
        position: fixed;
    }
    /*------------------------------------------------------------------------------------Dropdown styles----------------------------------------------------------------------*/
    .dropdown-ul{
        list-style: none;
        margin: 0;
        padding: 4%;
        animation-duration: 0.5s;
        animation-name: pop-up-ul;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2em;
    }
    .dropdown-ul.active{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: 0.5s;
        animation-name: drop-down-ul;
        opacity: 1;
        top: 0em;
    }
    .dropdown-li{
        padding: 1%;
        margin-bottom: 1.25em;
    }
    .dropdown-li a{
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
    }
    /*------------------------------------------------------------------------------------Main Styles------------------------------------------------------------------------*/
    main{
        /*min-width: 90vh;*/
        animation-duration: 0.5s;
        animation-name: pop-up-main;
        height: auto;
    }
    main.active{
        animation-duration: 0.5s;
        animation-name: drop-down-main;
        height: 0px;
    }
    .Swipper-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        background-image: url(https://live.staticflickr.com/65535/52241875663_6757a3ff68_b.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .main-h3{
        color: #fff;
        text-shadow: 2px 2px #0000001a;
        margin-bottom: 1em;
        font-family: 'Merriweather Sans', sans-serif;
    }
    .order-button{
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 3em;
        background: white;
        width: 195px;
        height: 45px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }
    .order-button:hover{
        opacity: 0.8;
        box-shadow: 0px 15px 20px rgba(59, 56, 49, 0.4);
        transform: translateY(-7px);
    }
    .about-text-box{
        font-family: 'Merriweather Sans', sans-serif;
        width: 30em;
        font-size: 14px;
        margin-bottom: 1.5em;
    }
    .about-text-box h1{
        text-align: center;
    }
    .about-text-box p{
        text-align: left;
    }
    .bag-info{
        margin-top: 1.5em;
        display: grid;
        grid-column: 2;
        grid-auto-flow: row;
        grid-column-gap: 2em;
        grid-row-gap: 3em;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    .gallery-slider {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 30vh;
        margin-top: 2em;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }
    .gallery-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 30vh;
        width: 85%;
    }
    .arrows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .dot:hover{
        transform: scale(1.25);
    }
    .dot.active{
        transform: scale(1.25);
        background-color: #717171;
        transition: background-color 0.6s ease;
    }
    .number-display{
        position: relative;
        width: 50px;
        height: auto;
    }
    .numbertext {
        color: black;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev, .next {
        cursor: pointer;
        position: relative;
        width: auto;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 28px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        transition: 0.6s ease;
    }
    .prev:hover, .next:hover{
        transform: scale(1.5);
        transition: 0.6s ease;
    }
    .mySlides {
        display: none;
        -webkit-box-shadow: 0px 2px 15px rgb(0 0 0 / 70%);
        box-shadow: 0px 2px 15px rgb(0 0 0 / 70%);
        background: rgba(0, 0, 0, .2);
    }
    /*------------------------------------------------------Footer Styles--------------------------------*/
    hr {
        height: 2px;
        border: none;
        color: #000;
        background-color: #ccc;
        margin: 0 auto;
        width: 90%;
        margin-top: 5em;
        margin-bottom: 5em;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
        align-items: flex-start;
        height: 10vh;
    }
    footer div{
        font-size: 20px;
        cursor: pointer;
        font-family: 'Merriweather Sans', sans-serif;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    footer div:hover{
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.25));
        transform: translateY(-7px);
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
}
/*-------------------------------------------------------Mobile Small Styles------------------------------------*/
@media screen and (max-width: 420px){
   /*----------------------------------------------------Header Styles------------------------------------------*/
   header{
        display: flex;
        width: 100%;
        background: black;
        justify-content: center;
    }
    header a{
        color: whitesmoke;
        font-family: 'Merriweather Sans', sans-serif;
        text-decoration: none;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    button{
        height: inherit;
        width: inherit;
        background: inherit;
        border: none;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-evenly;
        align-items: center;
        cursor: pointer;
        outline: none;
    }
    .site-banner-logo{
        width: 40%;
        text-align: center;
        font-size: 14px;
    }
    .site-banner{
        position: fixed;
        background-color: black;
        opacity: 0.915;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        margin: 0;
        height: 4em;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: center;
        justify-content: space-around;
        align-items: center;
        
    }
    .burger-top{
        top: 17px;
    }
    .burger-mid{
        top: 30px;
    }
    .burger-bottom{
        top: 43px;
    }
    .cart{
        height: 100%;
        width: 4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .fa-shopping-cart{
        color: whitesmoke;
        font-size: 3em;
        border-radius: 1.5px;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .burger-button{
        height: 100%;
        width: 5em;
        opacity: 1;
        transition: all 0.15s ease-out;
    }
    .burger-line{
        display: block;
        position: absolute;
        opacity: 1;
        height: 0.3em;
        width: 2.5em;
        background: whitesmoke;
        border-radius: 1.5px;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .burger-button.active .burger-top{
        transform: rotate(45deg) translate(9px, 10px);
    }
    .burger-button.active .burger-mid{
        opacity: 0;
    }
    .burger-button.active .burger-bottom{
        transform: rotate(-45deg) translate(9px, -10px);
    }
    .burger-button.active:hover .burger-top{
        transform: rotate(45deg) translate(9px, 10px) scale(1.25);
    }
    .burger-button.active:hover .burger-mid{
        opacity: 0;
    }
    .burger-button.active:hover .burger-bottom{
        transform: rotate(-45deg) translate(9px, -10px) scale(1.25);
    }
    .burger-button:hover .burger-line{
        transform: scale(1.2);
    } 
    .site-banner-logo:hover a{
        transform: scaleY(1.5);
        font-weight: bolder;
        font-size: 1.15em;
    }
    .cart-button{
        color: whitesmoke;
        font-size: 3.5em;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .cart-button:hover{
        transform: scale(1.1);
        font-weight: bolder;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    .dropdown{
        display: block;
        background-color: darkslategray;
        width: 100%;
        animation-duration: 0.5s;
        animation-name: pop-up;
        height: 0%;
    }
    .dropdown.active {
        display: block;
        position: fixed;
        background-color: darkslategray;
        width: 100%;
        animation-duration: 0.5s;
        animation-name: drop-down;
        height: 100%;
        top: 0em;
        z-index: 1;
    }
    .site-banner.active{
        background-color: darkslategray;
        
    }
    .site-nav.active{
        background-color: darkslategray;
        z-index: 2;
        position: fixed;
    }
    /*------------------------------------------------------------------------------------Dropdown styles----------------------------------------------------------------------*/
    .dropdown-ul{
        list-style: none;
        margin: 0;
        padding: 4%;
        animation-duration: 0.5s;
        animation-name: pop-up-ul;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5em;
    }
    .dropdown-ul.active{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        animation-duration: 0.5s;
        animation-name: drop-down-ul;
        opacity: 1;
    }
    .dropdown-li{
        padding: 1%;
        margin-bottom: 1.25em;
    }
    .dropdown-li a{
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
    }
    /*------------------------------------------------------------------------------------Main Styles------------------------------------------------------------------------*/
    main{
        /*min-width: 90vh;*/
        animation-duration: 0.5s;
        animation-name: pop-up-main;
        height: auto;
    }
    main.active{
        animation-duration: 0.5s;
        animation-name: drop-down-main;
        height: 0px;
    }
    .Swipper-container {
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: flex-end;
        align-items: center;
        background-image: url(https://live.staticflickr.com/65535/52241875663_6757a3ff68_b.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
    }
    .main-h3{
        color: #fff;
        text-shadow: 2px 2px #0000001a;
        margin-bottom: 1em;
        font-family: 'Merriweather Sans', sans-serif;
    }
    .order-button{
        font-family: 'Merriweather Sans', sans-serif;
        margin-bottom: 3em;
        background: white;
        width: 195px;
        height: 45px;
        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
    }
    .order-button:hover{
        opacity: 0.8;
        box-shadow: 0px 15px 20px rgba(59, 56, 49, 0.4);
        transform: translateY(-7px);
    }
    .about-text-box{
        font-family: 'Merriweather Sans', sans-serif;
        width: 100%;
        font-size: 14px;
        margin-bottom: 1.5em;
    }
    .about-text-box h1{
        text-align: center;
    }
    .about-text-box p{
        text-align: center;
    }
    .bag-info{
        margin-top: 1.5em;
        display: grid;
        grid-column: 2;
        grid-auto-flow: row;
        grid-column-gap: 2em;
        grid-row-gap: 3em;
        justify-content: space-around;
        align-content: center;
        align-items: center;
        justify-items: center;
        width: 100%;
    }
    .gallery-slider {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 30vh;
        margin-top: 2em;
        align-items: center;
        justify-content: flex-start;
        align-content: center;
        width: 100%;
        flex-wrap: nowrap;
    }
    .gallery-container {
        display: flex;
        flex-direction: column;
        margin: 0;
        min-height: 30vh;
        width: 85%;
    }
    .arrows{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .dot {
        cursor: pointer;
        height: 15px;
        width: 15px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }
    .dot:hover{
        transform: scale(1.25);
    }
    .dot.active{
        transform: scale(1.25);
        background-color: #717171;
        transition: background-color 0.6s ease;
    }
    .number-display{
        position: relative;
        width: 50px;
        height: auto;
    }
    .numbertext {
        color: black;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }
    .prev, .next {
        cursor: pointer;
        position: inherit;
        width: auto;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 20px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
    }
    .prev:hover, .next:hover{
        transform: scale(1.5);
        transition: 0.6s ease;
    }
    .mySlides {
        display: none;
        -webkit-box-shadow: 0px 2px 15px rgb(0 0 0 / 70%);
        box-shadow: 0px 2px 15px rgb(0 0 0 / 70%);
        background: rgba(0, 0, 0, .2);
    }
    /*------------------------------------------------------Footer Styles--------------------------------*/
    hr {
        height: 2px;
        border: none;
        color: #000;
        background-color: #ccc;
        margin: 0 auto;
        width: 90%;
        margin-top: 1em;
        margin-bottom: 1.75em;
    }
    footer{
        display: flex;
        flex-direction: row;
        align-content: flex-start;
        justify-content: space-around;
        align-items: flex-start;
        height: 10vh;
    }
    footer div{
        font-size: 20px;
        cursor: pointer;
        font-family: 'Merriweather Sans', sans-serif;
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
    footer div:hover{
        filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.25));
        transform: translateY(-7px);
        transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
    }
}