*,*::before,*::after{
    box-sizing: border-box;
}
/*----------------------------------------------------Header Styles------------------------------------------*/
header{
    background-color: black;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    height: 4em;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
}
header a{
    color: whitesmoke;
    font-family: 'Merriweather Sans', sans-serif;
    text-decoration: none;
}
button{
    height: inherit;
    width: inherit;
    background: inherit;
    border: none;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}
.site-nav{
    height: 100%;
    width: 4em;
}
.burger{
    display: block;
    position: absolute;
    height: 0.3em;
    width: 2.5em;
    background: whitesmoke;
    border-radius: 1.5px;
}
.burger-top{
    top: 30%;
}
.burger-mid{
    top: 50%;
}
.burger-bottom{
    top: 70%;
}
.cart{
    height: 100%;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-shopping-cart{
    color: whitesmoke;
    font-size: 2em;
}
